body {
	background:orange;
	padding:0px;
	margin:0px;
}

.wrap{
	border:solid 1px black;

	width:960px;
	margin:0 auto;
	height:100vh;
}

#banner{
	height:150px;
	background: white;
	width: 100%;
}

#socialMediaDeck{
	width: 75px;
	height:200px;
	background:black;
	position: fixed;
	top: 150px;
	left: 0px;
}